<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.hibernate.eclipse.launch.ConsoleConfigurationLaunchConfigurationType">
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="sso-ejb"/>
<stringAttribute key="org.hibernate.eclipse.launch.CONFIGURATION_FACTORY" value="JPA"/>
<listAttribute key="org.hibernate.eclipse.launch.FILE_MAPPINGS"/>
<stringAttribute key="org.hibernate.eclipse.launch.PROPERTY_FILE" value="/sso-ejb/hibernate-console.properties"/>
</launchConfiguration>
